In [2]:
# Cambio dinamico de variable, cambio de tipado
name = "Daniel"
print(type(name))

name = 33
print(type(name))

name = True
print(type(name))

<class 'str'>
<class 'int'>
<class 'bool'>

In [6]:
#Concatenar 
print( "Daniel" + " Portugal")
age = 33   #int
one = 1
print( age + one)
print( "Daniel " + str(age))

Daniel Portugal
34
Daniel 33

In [13]:
variable = True
resultado = str(variable)
print(resultado)
type(resultado)

True

str

In [22]:
# Casteo de un número flotante a un número entero
a = "A3.14"  # Flotante
b = int(a)  # Entero
print(b)  # 5

ValueError: invalid literal for int() with base 10: 'A3.14'

In [24]:
# Transformación de una cadena a un número flotante
a = "3"  # Cadena
b = float(a)  # Flotante
print(b)  # 3.14

3.0

In [25]:
# Transformación de una cadena a una lista
a = "Hola Mundo"  # Cadena
b = list(a)  # Lista
print(b)  # ['H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']

['H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']